include LICENSE
include README.md
include RELEASE_NOTES.md
include requirements.txt
recursive-include docs *
recursive-include examples *
recursive-include chuscraper *
global-exclude *.pyc
global-exclude __pycache__
